@font-face {
  font-family: "iconfont"; /* Project id 4137688 */
  src: url('iconfont.woff2?t=1725553299103') format('woff2'),
       url('iconfont.woff?t=1725553299103') format('woff'),
       url('iconfont.ttf?t=1725553299103') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daohang2:before {
  content: "\e632";
}

.icon-dingdan:before {
  content: "\e69d";
}

.icon-sanweimoxing:before {
  content: "\e675";
}

.icon-xiaoxi:before {
  content: "\e686";
}

.icon-qianbao:before {
  content: "\e62c";
}

.icon-gerenxinxi:before {
  content: "\e65d";
}

.icon-bangzhuzhongxin:before {
  content: "\e616";
}

.icon-location:before {
  content: "\e790";
}

.icon-banquan:before {
  content: "\e620";
}

.icon-logout:before {
  content: "\e64a";
}

.icon-Leftbar_mine_unselected:before {
  content: "\e631";
}

.icon-my:before {
  content: "\e667";
}

.icon-xia:before {
  content: "\e62f";
}

.icon-yingjianxinxi:before {
  content: "\e6dc";
}

.icon-jiguangqiege:before {
  content: "\e614";
}

.icon-CNC:before {
  content: "\e6dd";
}

.icon-zaixianddayin:before {
  content: "\e683";
}

.icon-shuaxin:before {
  content: "\e615";
}

.icon-info:before {
  content: "\e7b3";
}

.icon-x:before {
  content: "\e67d";
}

.icon-jia:before {
  content: "\e64d";
}

.icon-lajitong:before {
  content: "\e63f";
}

.icon-xiugai:before {
  content: "\e605";
}

.icon-shanchu:before {
  content: "\e603";
}

.icon-upload:before {
  content: "\e682";
}

